# Plotly

In [1]:
import pandas as pd
import numpy as np

In [2]:
from plotly import __version__

In [3]:
print(__version__)

5.3.1

In [5]:
import cufflinks as cf

In [7]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

In [8]:
init_notebook_mode(connected = True)

In [9]:
cf.go_offline()

In [10]:
df2 = pd.DataFrame({'category':['A','B','C'],'Values':[32,43,50]})

In [11]:
df2

  category  Values
0        A      32
1        B      43
2        C      50

In [12]:
df = pd.DataFrame(np.random.randn(100,4),columns= 'A B C D'.split())

In [13]:
df

           A         B         C         D
0   1.259286 -0.556881 -0.879304  0.525095
1  -2.226439 -1.579308 -0.801335 -0.036808
2  -0.079688 -0.248172 -0.096043  1.603217
3  -1.421909  0.023516 -0.199798 -0.851987
4  -2.165294  0.589773  0.676690 -0.311891
..       ...       ...       ...       ...
95 -0.367361  0.832800 -0.253756 -0.585651
96  0.254211  1.863023  0.584006 -1.372778
97 -1.602601 -0.214806 -0.242210  0.093576
98  0.134116  0.222304  0.344138  0.324517
99  0.115356 -2.515889  1.124060 -0.223720

[100 rows x 4 columns]